#include "/home/plasma/.xrdb/aurora"

! Settings
URxvt.scrollBar:       false
URxvt.internalBorder:  25
URxvt.letterSpace:     0
URxvt.lineSpace:       0

! XFT Font Settings
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.dpi: 96

! Font
URxvt.font: xft:scientifica:size=9


