<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
    <menu id="root-menu" label="Openbox">
        <separator label=" Plasma "/>
        <menu id="essentials-menu" label="Essentials">
            <item label="Browser">
                <action name="Execute">
                    <execute>firefox</execute>
                </action>
            </item>
            <item label="File Manager">
                <action name="Execute">
                    <execute>thunar</execute>
                </action>
            </item> 
            <item label="Terminal">
                <action name="Execute">
                    <execute>urxvt</execute>
                </action>
            </item>
        </menu>
        <menu id="multimedia-menu" label="Multimedia">
            <item label="Music">
                <action name="Execute">
                    <execute>urxvt -g 40x40 -e ncmpcpp</execute>
                </action>
            </item>
            <item label="GIMP">
                <action name="Execute">
                    <execute>gimp</execute>
                </action>
            </item>
            <item label="Inkscape">
                <action name="Execute">
                    <execute>inkscape</execute>
                </action>
            </item>
        </menu>
        <menu id="productivity-menu" label="Productivity">
            <item label="LibreWriter">
                <action name="Execute">
                    <execute>libreoffice --writer</execute>
                </action>
            </item>
            <item label="LibreCalc">
                <action name="Execute">
                    <execute>libreoffice --calc</execute>
                </action>
            </item>
            <item label="LibreDraw">
                <action name="Execute">
                    <execute>libreoffice --draw</execute>
                </action>
            </item>
            <item label="LibreMath">
                <action name="Execute">
                    <execute>libreoffice --math</execute>
                </action>
            </item>
        </menu>
        <menu id="gaming-menu" label="Gaming">
            <item label="Discord">
                <action name="Execute">
                    <execute>discord</execute>
                </action>
            </item>
            <item label="Steam">
                <action name="Execute">
                    <execute>steam</execute>
                </action>
            </item>
        </menu>
        <menu id="ricing-menu" label="Ricing">
            <item label="LXAppearance">
                <action name="Execute">
                    <execute>lxappearance</execute>
                </action>
            </item>
            <item label="OBConf">
                <action name="Execute">
                    <execute>obconf</execute>
                </action>
            </item>
            <item label="WPGTK">
                <action name="Execute">
                    <execute>wpg</execute>
                </action>
            </item>
        </menu>
        <menu id="utilities-menu" label="Utility">
            <item label="Screenshot">
                <action name="Execute">
                    <execute>/home/plasma/bin/screeny</execute>
                </action>
            </item>
        </menu>
        <menu id="extras-menu" label="ETC">
            <item label="Merge">
                <action name="Execute">
                    <execute>xrdb -merge .Xresources</execute>
                </action>
            </item>
            <item label="Reconfigure">
                <action name="Reconfigure"/>
            </item>
            <item label="Reboot">
                <action name="Execute">
                    <execute>reboot</execute>
                </action>
            </item>
            <item label="Exit">
                <action name="Exit"/>
            </item>
        </menu>
        <separator label="────────"/>
    </menu>
</openbox_menu>
    
